.cell {
    border: 1px solid #000;
    display: inline-block;
    background-color: white;
    transition: background-color 0.5s ease;
    min-width: 50px;
}

.row {
    display: flex;
    width: 100%;
    min-height: 50px;
    justify-content: center;
}

#game {
    text-align: center;
    width: 100%;
}

.red {
    background-color: red;
}

.gray {
    background-color: gray;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}

.green {
    background-color: green;
}

.hud {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
}